













.auth-navbar-container {
    width:100%;
    overflow: hidden;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 2s ease-in-out, transform 1s ease-in-out; 
    z-index: 1000;
}


.auth-navbar-container.show {
    opacity: 1;
    transform: translateY(0); 

}



.auth-navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    max-width: 2000px;
}





.auth-navbar-left-side-image  {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    position:relative;
    top:0px;
    left: 99px;
}


.auth-navbar-left-side-image img {
    width: 45px;
    object-fit: contain;
    mix-blend-mode:multiply;
    cursor: pointer;


}







.auth-navbar-wrapper-right {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    width: 310px;
    position: relative;
    top:0px;
    left: -45px;

}



.auth-navbar-wrapper-right img {
    width: 28px;
    object-fit: contain;
    cursor: pointer;
    mix-blend-mode:multiply
}



.auth-name {
    text-decoration: none;
}



.user-auth-name  {
    font-size: 1rem;
    color:green
}




.auth-navbar-login-header {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    width: 310px;
    text-decoration: none;
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
    color:navy;
    position: relative;
    top:0px;
    left: 120px;

}





.logout-button  {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    position: relative;
    top:0px;
    left: 80px;
    
}


.logout-button button {
    background:rgb(192, 192, 192);
    color:white;
    border:none;
    outline: none;
    padding: 1em;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.logout-button button:hover {
    background:darkslategrey;
    color:white;
}












 /*------TOOLTIP--------*/




 .tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 3px;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.tooltip.visible {
    display: block;
}

/* Ensure the navbar-wrapper-right links are positioned correctly */
.auth-navbar-cart-count a {
    position: relative;
    text-decoration: none;
}










/* Sticky Navbar */
.sticky-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure sticky navbar stays behind the sidebar */
    transition: top 0.3s ease-in-out;
}

/* Hide navbar when scrolling down */
.hidden {
    top: -100px;
    transition: top 0.3s ease-in-out;
}

/* Show navbar when scrolling up */
.visible {
    top: 0;
    transition: top 0.3s ease-in-out;
}









body.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .navbar-wrapper {
    background-color: white;
}

.dark-mode .login-header {
    color: black;
}

.dark-mode .tooltip {
    background-color: white;
    color: black;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.dark-mode-toggle:hover {
    transform: scale(1.1);
}






.auth-menu-icon {
    color: black; /* Default color */
    transition: color 0.3s ease;
  }
  
  .auth-menu-icon:hover {
    color:green;
    cursor: pointer;
  }


  
  .auth-menu-icon.logged-in {
    color: darkgreen;
  }



  
  /* Dark mode styles */
  .dark-mode .icon {
    color: white;
  }




  .auth-navbar-cart-count {
    display: flex;
    justify-content: center;
    align-items:baseline;
    text-align: center;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top:-10px;
    left: -20px;
    margin:0 auto;
  }


  .auth-navbar-cart-count span {
    color:seagreen
  }













  @media screen and (max-width:420px) {



.auth-navbar-container {
    width:100%;
    overflow: hidden;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 2s ease-in-out, transform 1s ease-in-out; 
    z-index: 1000;
}


.auth-navbar-container.show {
    opacity: 1;
    transform: translateY(0); 

}



.auth-navbar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    width: 100%;
}





.auth-navbar-left-side-image  {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    position:relative;
    width: 110px;
    top:0px;
    left: 9px;
}


.auth-navbar-left-side-image img {
    width: 77px;
    object-fit: contain;
    mix-blend-mode:multiply;
    cursor: pointer;


}







.auth-navbar-wrapper-right {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    width: 210px;
    position: relative;
    top:0px;
    left: 0px;

}



.auth-navbar-wrapper-right img {
    width: 8px;
    object-fit: contain;
    cursor: pointer;
    mix-blend-mode:multiply
}



.auth-name {
    text-decoration: none;
}



.user-auth-name  {
    font-size: 0.6rem;
    color:green
}




.auth-navbar-login-header {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    text-decoration: none;
    font-size: 0.8rem;
    font-family:'Times New Roman', Times, serif;
    color:navy;
    position: relative;
    top:0px;
    left: 30px;

}





.logout-button  {
    display: flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    position: relative;
    top:0px;
    left: 8px;
    
}


.logout-button button {
    background:rgb(192, 192, 192);
    color:white;
    border:none;
    outline: none;
    padding: 0.3em;
    font-size: 0.7rem;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.logout-button button:hover {
    background:darkslategrey;
    color:white;
}












 /*------TOOLTIP--------*/




 .tooltip {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 3px;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.tooltip.visible {
    display: block;
}

/* Ensure the navbar-wrapper-right links are positioned correctly */
.auth-navbar-cart-count a {
    position: relative;
    text-decoration: none;
}










/* Sticky Navbar */
.sticky-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure sticky navbar stays behind the sidebar */
    transition: top 0.3s ease-in-out;
}

/* Hide navbar when scrolling down */
.hidden {
    top: -100px;
    transition: top 0.3s ease-in-out;
}

/* Show navbar when scrolling up */
.visible {
    top: 0;
    transition: top 0.3s ease-in-out;
}









body.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .navbar-wrapper {
    background-color: white;
}

.dark-mode .login-header {
    color: black;
}

.dark-mode .tooltip {
    background-color: white;
    color: black;
}

/* Dark Mode Toggle Button */
.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 10px;
    cursor: pointer;
    margin-left: 0px;
    transition: transform 0.3s ease;
}

.dark-mode-toggle:hover {
    transform: scale(1.1);
}






.auth-menu-icon {
    color: black; /* Default color */
    transition: color 0.3s ease;
  }
  
  .auth-menu-icon:hover {
    color:green;
    cursor: pointer;
  }


  
  .auth-menu-icon.logged-in {
    color: darkgreen;
  }



  
  /* Dark mode styles */
  .dark-mode .icon {
    color: white;
  }




  .auth-navbar-cart-count {
    display: flex;
    justify-content: center;
    align-items:baseline;
    text-align: center;
    font-size: 0.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    top:-10px;
    left: -10px;
    margin:0 auto;
  }


  .auth-navbar-cart-count span {
    color:seagreen
  }





    
  }